header{background: rgb(129, 250, 244); border-bottom: 5px solid #1C6EA4; margin-bottom: 10px;}

body{background: rgb(76, 132, 128);}

.container{margin-left: 0;}

.row{margin-top: 10px;}

footer{background: rgb(129, 250, 244); border-top: 5px solid #1C6EA4; margin-top: 10px;}

